  #financial-history {
      max-width: 800px;
      overflow: hidden;
      margin: 0 auto;
  }

  #financial-history svg {
      height: auto;
      width: 100%;
      display: block;
      margin: auto;
  }

  line {
      stroke: #eeeeee !important;
  }

  .chart-title {
      fill: #939393;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 500 !important;
  }

  .label {
      font-size: 8px;
      fill: #939393;
      font-weight: 700 !important;
      text-transform: uppercase;
      letter-spacing: 2px;
  }

  .bar {
      fill: #f197b3;
  }

  #financial-history text {
      fill: #939393;
      font-weight: 300;
  }

  #limit {
      stroke-dasharray: 5 !important;
      stroke: #f4a0b6 !important;
      z-index: 10;
  }

  .value {
      fill: #939393;   
      font-weight: 700;
  }

  .domain {
      stroke: #939393 !important;
  }