/* Landing Component Styles */

.landing-container {
    text-align: center;
    overflow: hidden;
    background-color: #000;
    min-height: 200px;
    height: 40vh;
    color: #FFF;
    font-size: 36px;
  }
  
  .logo img {
    height: 100px;
    width: auto;
    margin-top: 64px;
  }
  
  .logo .tagline {
    margin-top: 12px;
    letter-spacing: 1px;
    padding-left: 10px;
    font-size: 16px;
  }
  
  .landing-container .react-parallax {
    height: 100vh;
  }
  
  .pulse-down {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin: 32px auto;
    text-align: center;
    display: none;
    animation-name: pulse;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    cursor: pointer;
  }
  
  .pulse-down:active {
    transform: scale(0.7);
    animation: none;
  }
  
  .pulse-down img {
    width: 25px;
    height: auto;
    font-size: 36px;
  }
  
  /* desktop media query */
  @media (min-width: 1025px){
    /* Landing Container Styles */
    .landing-container {
      width: 100vw;
      height: 100vh;
      display: table-cell;
      vertical-align: middle;
    }
  
    .landing-container .logo {
      vertical-align: middle;
      display: inline-block;
      animation: fadein 2s;
    }
  
    .landing-container .logo img {
      height: 300px;
      width: auto;
      padding-top: 64px;
    }
  
    .landing-container .logo .tagline {
      font-size: 32px;
    }
  
    .pulse-down {
      display: block;
    }
  }
  
  /* Animations */
  @keyframes pulse {
    0% {
      transform: scale(0.7);
    }
  
    100% {
      transform: scale(0.85);
    }
  }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 100;
      transform: scale(1);
    }
  }