#VRFrame {
    margin: 36px auto;
    text-align: center;
    overflow: hidden;
}

iframe {
    display: none;
    width: 100%;
    height: 100%;
}

.vr-icon {
    height: 32px;
    width: auto;
    padding-bottom: 16px;
}

.full-screen-prompt {
    display: block;
}

/* desktop media query */
@media (min-width: 1025px){
    /* Landing Container Styles */
    #VRFrame {
        height: 60vh;
        width: 60vw;
    }

    iframe {
        display: block;
    }
    
    .full-screen-prompt {
        display: none;
    }
}